<div id="test-parse-style-attribute">
	<div style="padding: 10px; color: aqua;">
        Example Text
    </div>
    <div style="padding-top: 10px; padding-bottom: 10px; color: aqua;">
        Example Text
    </div>
</div>